ServerdanClient_NurAfandiMujib_110/Connected Services/ServiceReference1/ServiceMtk_P1_110.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceMtk_P1_110" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceMtk_P1_110" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Koordinat">
    <xs:sequence>
      <xs:element minOccurs="0" name="X" type="xs:int" />
      <xs:element minOccurs="0" name="Y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Koordinat" nillable="true" type="tns:Koordinat" />
</xs:schema>